<!DOCTYPE html>

<html>
<head>
  <title>Feeds comments wall</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://unpkg.com/pusher-feeds-client"></script>
  <script>
function publishComment() {
  const xhr = new XMLHttpRequest();
  xhr.open("POST", "/comments/<%= userId %>", true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.send(JSON.stringify({
    comment: document.getElementById("comment").value,
  }));
  document.getElementById("comment").value = "";
}

const commentsFeed = new Feeds({
  instanceId: YOUR_INSTANCE_ID_HERE
}).feed("<%= userId %>");

commentsFeed.subscribe({
  previousItems: 10,
  onItem: ({ body: { created, data } }) => {
    const itemEl = document.createElement("li");
    itemEl.textContent = data.comment;
    document.getElementById("comments").prepend(itemEl);
  }
});
</script>
</head>

<body style="padding: 30px;">
  <div style="border-style: solid; width: 50%; margin: auto; padding: 10px;">
    <h3><%= userId %>'s comments</h3>
    <input id="comment" type="text" style="width: 79%;">
    <button type="button" style="width: 19%;" onclick="publishComment()">Publish</button>
    <ul id="comments"></ul>
  </div>
</body>
</html>
